extends ./base 

block content 
    .container.forget-password(style = 'margin-top: 120px; display: block;')
        form(action = '#' name ='forget-password')#forget-form 
            input#forget-email(type="email" name = 'email'  required  placeholder = 'Enter your email to reset password' )
            button(type="submit")#send-reset-password.btn.save-btn.d-block Reset Password
        p By clicking on 'Reset Password' button an email will be sent to your email address.
            | Please use that email to reset your password.