extends ./base 

block content 
    .container.reset-password(style = 'margin-top: 120px; display: block;')
        form(action = '#' name ='forget-password')#resetpassword-form
            input#new-password(type="password" name = 'newpassword'  required  placeholder = 'New Password' )
            input#confirm-pass(type="password" name = 'confirmpassword'  required  placeholder = 'Confirm Password' )
            button#token-link(type="submit" data-url = `/api/v1/users/resetpassword/${resetToken}` ).btn.save-btn.d-block  RESET PASSWORD